<div class="modal fade" id="myFaqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">FAQ</h4>
      </div>
      <div class="modal-body">
        <ul>

          <li><i>Does the game work on all browsers?</i><br>
          The game works on Chrome and Firefox but may not work on Safari or others (and does not work on mobile)
          </li>
          <br><br>
          <li><i>What happens if I am stuck?</i><br>
          The game is designed so that nobody should be stuck for too long-- there are ALWAYS common words that will gain you 2 letters.  For example, with "NQUIX," you can play any word that contains "nq" consecutively, such as "inquire", "conquer", "tranquil", etc.</li>
          <br><br>
          <li><i>What's the strategy?</i><br>
          If the 5 letters on the board are common and have a good mix of vowels and consonants, aim for all 5 letters.  If not, focus on the first 2 letters, possibly with an eye on the 3rd.  Aim for speed over precision, and save jumps for when you are stuck.</li>
          <br><br>
          <li><i>Why can I only play words that are 5 letters or longer?</i><br>
          This rule is in place to prevent the game from being all about memorizing short and bizarre (but legal) 2 and 3 letter words, as many other word games are.</li>
          <br><br>
          <li><i>What dictionary does the game use?</i><br>
          The game uses the Scrabble Official Tournament and Club Word List (OWL).</li>
          <br><br>
          <li><i>How do I contact the creators?</i><br>
          Feedback is always appreciated: panicgram.game@gmail.com.</li>
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
