<div class="modal fade" id="myFaqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">FAQ</h4>
      </div>
      <div class="modal-body">
        <ul>
        	<li><i>What's the strategy?</i><br>
        	If the five shown letters are common and have a good mix of vowels and consonants, try to get all 5.  If not, look at the first two letters and get a quick 2.  It is ALWAYS possible to get a 2 with common words.  Don't think your word needs to start with the first 2 shown letters, just contain them.  For example, with 'GGAZY', you can use any word with a double G, such as 'tagging' or 'bigger'. </li>
        	<br>
        	<br>
        	<li><i>Why can I only use words that are 5 letters or longer?</i><br>
        	This rule is in place to prevent the game from being all about memorizing crazy (but legal) 2 and 3 letter words, as Scrabble is.</li>


        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
