<div class="modal fade" id="myFaqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">FAQ</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>The objective of the game is to eat as many letters as fast as possible.  </li>
          <li>Type in words 5 letters or longer that meet one of the following requirements</li>
          <ol>
            <li> You use all 5 letters in any order</li>
            <li> You use the first 3 letters in the order they appear</li>
            <li> You use the first 2 letters in the order consecutively and in the order they appear</li>
          </ol>
          <li>If your word meets more than one requirement at the same time, you are rewarded with jumps</li>
          <li>To use a jump, hit 'j' and you will instantly eat 1 letter </li>
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
