 	<%high_score_array%>
 <div class="col-md-6">
    <table class="table">
        <thead>
            <tr >
                <th align="center" valign="middle" colspan="3"> 25 seconds</th>
            </tr>
        </thead>
        <tbody>
        	<tr class="active">
                <td>1</td>
                <td>Credit Card</td>
                <td>Call in to confirm</td>
            </tr>
            <tr class="info">
                <td>2</td>
                <td>Water</td>
                <td>Paid</td>
            </tr>
            <tr class="active">
                <td>3</td>
                <td>Internet</td>
                <td>Change plan</td>
            </tr>
            <tr class="info">
                <td>4</td>
                <td>Electricity</td>
                <td>Pending</td>
            </tr>
            <tr class="active">
                <td>5</td>
                <td>Telephone</td>
                <td>Due</td>
            </tr>
        	<tr class="info">
                <td>1</td>
                <td>Credit Card</td>
                <td>Call in to confirm</td>
            </tr>
            <tr class="active">
                <td>2</td>
                <td>Water</td>
                <td>Paid</td>
            </tr>
            <tr class="info">
                <td>3</td>
                <td>Internet</td>
                <td>Change plan</td>
            </tr>
            <tr class="active">
                <td>4</td>
                <td>Electricity</td>
                <td>Pending</td>
            </tr>
            <tr class="info">
                <td>5</td>
                <td>Telephone</td>
                <td>Due</td>
            </tr>
        </tbody>
    </table>
  </div>

 <div class="col-md-6">
    <table class="table">
        <thead>
            <tr >
                <th align="center" valign="middle" colspan="3"> 100 seconds</th>
            </tr>
        </thead>
        <tbody>
        	<tr class="active">
                <td>1</td>
                <td>Credit Card</td>
                <td>Call in to confirm</td>
            </tr>
            <tr class="info">
                <td>2</td>
                <td>Water</td>
                <td>Paid</td>
            </tr>
            <tr class="active">
                <td>3</td>
                <td>Internet</td>
                <td>Change plan</td>
            </tr>
            <tr class="info">
                <td>4</td>
                <td>Electricity</td>
                <td>Pending</td>
            </tr>
            <tr class="active">
                <td>5</td>
                <td>Telephone</td>
                <td>Due</td>
            </tr>
        	<tr class="info">
                <td>1</td>
                <td>Credit Card</td>
                <td>Call in to confirm</td>
            </tr>
            <tr class="active">
                <td>2</td>
                <td>Water</td>
                <td>Paid</td>
            </tr>
            <tr class="info">
                <td>3</td>
                <td>Internet</td>
                <td>Change plan</td>
            </tr>
            <tr class="active">
                <td>4</td>
                <td>Electricity</td>
                <td>Pending</td>
            </tr>
            <tr class="info">
                <td>5</td>
                <td>Telephone</td>
                <td>Due</td>
            </tr>
        </tbody>
    </table>
  </div>