<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Rules</h4>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" id="myModalLabel">Objective</h5><br>
        <ul>
          <li>The objective of the game is to get 25 letters for a quick game, and 100 for a long game, as fast as possible</li>
          <li>When you reach the goal, the game ends and you will see your time</li>
        </ul>
        <br>
        <h5 class="modal-title" id="myModalLabel">Getting letters</h5><br>
        <ul>
          <li>Type in a word that is 5 letters or longer and hit enter to play a word</li>
          <li>Depending on how good your word is, you will gain either 2, 3, or 5 (or 0) letters, and each of those cases has a different rule:</li>
          <ul>
            <li> For 5 letters, play a word that contains all 5 letters on the board in any order</li>
            <li> For 3 letters, play a word that has the first 3 letters on the board in the same order as the board</li>
            <li> For 2 letters, play a word that has the first 2 letters on the board in the same order as the board and consecutive</li>
          </ul>
          <li>If you play a word that gains 5 letters, but also passes the rule for 2/3 letters, you are rewarded with jumps</li>
          <li>To use a jump, hit spacebar and you will instantly gain a free letter</li>
          <li>To use ALL your jumps, type 'j' and hit enter</li>
        </ul>
        <br>

        <h5 class="modal-title" id="myModalLabel">Example: &nbsp;&nbsp;XIGLE</h5><br>
        <ul>
        <li> For 2 letters, play a word containing "xi" consecutively, like "exist" or "pixies"
        <li> For 3 letters, play a word with the letters "xig" in that order, like "exercising"
        <li> For 5 letters, play a word containting all the letters "xigle", like "galaxies"
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
