<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Rules</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>The objective of the game is to work through letters as fast as possible.  </li>
          <li>Type in words 5 letters or longer that meet one of the following requirements:</li>
          <ol>
            <li> Your word has all 5 shown letters in any order</li>
            <li> Your word has the first 3 shown letters in the order they appear</li>
            <li> Your word has the first 2 shown letters in the order they appear and consecutively</li>
          </ol>
          <li>If your word meets all three requirements at the same time, you are rewarded with a jump</li>
          <li>To use a jump, hit 'j' and you will instantly score 1 point</li>
        </ul>
        <br>
        <h5 class="modal-title" id="myModalLabel">Example: XIGLE</h5><br>
        <li> For 2 points, play a word containing "xi" consecutively, like "exist" or "pixies"
        <li> For 3 points, play a word with the letters "xig" in that order, like "exercising" or "mixing"
        <li> For 5 points, play a word containting all the letters "xigle", like "galaxies" or "exiling" 
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
