<div class="container index">
	<script src="/js/load.js"></script>
   <!-- Load word scrip goes here if using local storage-->
<center>
  <p class="welcomestring">panicgram</p>
</center>
<center>
  <a href="/play/25" class="btn btn-default btn-lg">Play Quick</a>
  <a href="/play/100" class="btn btn-default btn-lg">Play Long</a>
<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
  Rules
</button>
<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#myFaqModal">
  FAQ
</button>
</center>
 <%= erb :_rules_modal %>
 <%= erb :_faq_modal %>
 <br>
<center>
    <h4>Best Times</h4>
</center>
<%= erb :_high_scores, :locals => {all_scores: @scores, goal: 25}%>
 <div class="col-md-2 col-sm-2 col-xs-0">
 </div>
<%= erb :_high_scores, :locals => {all_scores: @scores, goal: 100}%>


</div>