<head>
  <title>Word Game </title>
</head>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Duru Sans">
<body>
  <div id="wrapper">
    <div id="wordstringdiv">
    <p id="wordstring">A B C D E</p>
  </div>

  <form id="formz">
    <input type="text" id="inputz" name="firstname" maxlength="15"><br>
  </form>
  </div>
</body>
