<div class="container index">
	<script src="/js/load.js"></script>
<center>
  <p class="welcomestring">panicgram</p>
</center>

<center>
  <a href="/play/25" class="btn btn-default btn-lg">Play Quick</a>
  <a href="/play/100" class="btn btn-default btn-lg">Play Long</a>
<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
  Rules
</button>
<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#myFaqModal">
  FAQ
</button>
</center>
 <%= erb :_rules_modal %>
 <%= erb :_faq_modal %>
 <br>
<center>
    <h4>Best Times</h4>
</center>
<%= erb :_high_scores, :locals => {all_scores: @scores, goal: 25}%>
 <div class="col-md-2 col-sm-2 col-xs-0">
 </div>
<%= erb :_high_scores, :locals => {all_scores: @scores, goal: 100}%>

<center>
  <a href="https://twitter.com/panicgram" class="twitter-follow-button" data-show-count="false">Follow @panicgram</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</center>
</div>