<div>
  <script src="/js/load_words.js"></script>
<center>
  <p>WELCOME TO WORD GAME</p>
  <a href="/play/10">New game 10 seconds!</a>
  <br>
  <a href="/play/30">New game 30 seconds!</a>
</center>

<!-- Modal -->
<center>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Rules
</button>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myFaqModal">
  FAQ
</button>
</center>
 <%= erb :_rules_modal %>
 <%= erb :_faq_modal %>
<!-- Modal -->



</div>
