<div class="container index">
  <script src="/js/load_words.js"></script>
<center>
  <p class="welcomestring">panicgram</p>
</center>
<center>
  <a href="/play/25" class="btn btn-primary btn-lg">Play to 25</a>
  <a href="/play/100" class="btn btn-primary btn-lg">Play to 100</a>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Rules
</button>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myFaqModal">
  FAQ
</button>
</center>
<br>
 <%= erb :_rules_modal %>
 <%= erb :_faq_modal %>
 <br>
<center>
    <h4>Best Times</h4>
</center>
<%= erb :_high_scores, :locals => {all_scores: @scores, goal: 25}%>
<%= erb :_high_scores, :locals => {all_scores: @scores, goal: 100}%>


</div>