<div>
  <script src="/js/load_words.js"></script>
<center>
  <p class="welcomestring">PANICGRAM</p>
</center>
<center>
  <a href="/play/10">New game!</a>
</center>

<!-- Modal -->
<center>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Rules
</button>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myFaqModal">
  FAQ
</button>
</center>
 <%= erb :_rules_modal %>
 <%= erb :_faq_modal %>
<!-- Modal -->



</div>
