`<head>
  <title>Word Game </title>
  <script src="/js/application.js"></script>
  <script src="/js/view.js"></script>
  <script src="/js/gameplay.js"></script>
  <script src="/js/generation.js"></script>
  <script src="/js/key_events.js"></script>
  <script src="/js/logic.js"></script>
  <script src="/js/animation.js"></script>
</head>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT Mono|Duru Sans">
<body>
  <div id="wrapper">
    <center><p id="statusz">Welcome</p></center>
    <div id="wordstringdiv">
  <span class="wordstring"><span id="first"></span><span id="second"></span><span id="third"></span><span id="last_2"></span><span id="extras"></span></span>




  </div>

   <form id="formz">
    <input type="text" id="inputz" maxlength="15" autocomplete="off" autofocus><br>
  </form>
     <center><p id="hidestring" class="hide" data-hs=""></p></center>
    <center><p id="playstring"></p></center>
    <center><div id="jumps-container"><p>Jumps: <span id="jumps" data-j="0">0</span></p></div></center><br><br>

  <center><div id="score-container"><p>Score: <span id="score" data-s="0">0</span></p></div></center>
</body>
