<head>
  <script src="/js/application.js"></script>
  <script src="/js/view.js"></script>
  <script src="/js/gameplay.js"></script>
  <script src="/js/generation.js"></script>
  <script src="/js/key_events.js"></script>
  <script src="/js/logic.js"></script>
  <script src="/js/animation.js"></script>
  <script src="/js/win.js"></script>
</head>
<body>
  <div class="play-container">
    <center><p id="statusz" class="large-font-format">welcome</p></center>
    <div id="wordstringdiv">
  <span class="wordstring"><span id="first"></span><span id="second"></span><span id="third"></span><span id="last_2"></span><span id="extras"></span></span>
  </div>
  <center>

</center>
   <form id="formz">
    <input type="text" id="inputz" maxlength="15" autocomplete="off" autofocus><br>
  </form>
     <center><p id="hidestring" class="hide" data-hs=""></p></center>
    <center><p id="playstring"></p></center>
    <center><div id="jump-score-container" class="large-font-format">
    <div id="jump-container">Jumps: <span id="jumps" data-j="0">0</span></div>
    <div id="score-container">Letters: <span id="score" data-s="0">0</span><%="/"+@goal%></div>
  </div></center>
  </div>
</body>
